<head>
	<link
		rel="manifest"
		href="{{ url_for('static', filename='manifest.json') }}"
	/>
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,0"
	/>
	<link
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"
	/>
	<link
		href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
		rel="stylesheet"
	/>
	<link
		rel="shortcut icon"
		href="{{ url_for('static', filename='favicon.ico') }}"
	/>
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='css/main.css') }}"
		type="text/css"
	/>
	<link
		rel="stylesheet"
		href="{{ url_for('static', filename='css/navbar.css') }}"
		type="text/css"
	/>
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, user-scalable=0"
	/>
</head>
