<!DOCTYPE html>
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,0"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='favicon.ico') }}"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/index.css') }}"
			type="text/css"
		/>
		<title>RPi Microscope</title>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, user-scalable=0"
		/>
	</head>
	<body>
		<div id="mobile-nav">
			<div class="navbutton">
				<span class="material-symbols-rounded icon">image_search</span>
				<span>Browse Historical Images</span>
			</div>
			<div class="navbutton">
				<span class="material-symbols-rounded icon">photo_camera</span>
				<span>Capture An Image</span>
			</div>
			<div class="navbutton">
				<span class="material-symbols-rounded icon"
					>ondemand_video</span
				>
				<span>View Live Video</span>
			</div>
			<div id="close-menu-btn" onClick="menuClose()">
				<span class="material-symbols-rounded">close</span>
			</div>
		</div>
		<div id="navbar">
			<a href="/">
				<div id="title">
					<span class="smalltext">Raspberry Pi</span>
					<br />
					<span class="bigtext">Microscope</span>
				</div>
			</a>

			<div id="navlist">
				<div class="navbutton">
					<span class="material-symbols-rounded icon"
						>image_search</span
					>
					<span>Browse Historical Images</span>
				</div>
				<div class="navbutton">
					<span class="material-symbols-rounded icon"
						>photo_camera</span
					>
					<span>Capture An Image</span>
				</div>
				<div class="navbutton">
					<span class="material-symbols-rounded icon"
						>ondemand_video</span
					>
					<span>View Live Video</span>
				</div>
			</div>

			<div id="mobile-menu-btn" onClick="menuOpen()">
				<span class="material-symbols-rounded">menu</span>
			</div>
		</div>

		<div id="pagecontent">
			<div id="stream-display">
				<img id="stream-output" src="{{ url_for('video_feed') }}" />
				<div id="stream-overlay">
					<div class="live-label">
						<span
							id="live-icon"
							class="material-symbols-outlined icon"
						>
							circle </span
						><span>Live Microscope Feed</span>
					</div>
					<div id="view-adjust" class="live-label">
						<span
							id="layers-icon"
							class="material-symbols-rounded icon"
						>
							layers </span
						><span>Adjust View</span>
					</div>
				</div>
			</div>

			<div id="data">
				<div class="data-section">
					<span class="section-title">Sample Statistics</span>
					<div class="data-container">
						<div class="info-col">
							<div class="value-block">
								<span id="sample-id" onclick="copyToClip(this)"
									>XYZ-20-09-2022</span
								>
							</div>
							<div class="value-block">
								<span id="count" onclick="copyToClip(this)"
									>65 cfu</span
								>
							</div>
							<div class="value-block">
								<span id="growth" onclick="copyToClip(this)"
									>11.30 c/day</span
								>
							</div>
							<div class="value-block">
								<span id="mag" onclick="copyToClip(this)"
									>10x</span
								>
							</div>
							<div class="value-block">
								<span id="time" onclick="copyToClip(this)"
									>5d 7h 33m</span
								>
							</div>
						</div>
						<div class="info-col">
							<div class="key-block">
								<span>Sample Name/ID</span>
							</div>
							<div class="key-block">
								<span>Colony Count</span>
							</div>
							<div class="key-block">
								<span>Estimated Colony Growth Rate</span>
							</div>
							<div class="key-block">
								<span>Magnification Level</span>
							</div>
							<div class="key-block">
								<span>Elapsed Colony Growth Time</span>
							</div>
						</div>
					</div>
				</div>

				<div class="navbutton">
					<span class="material-symbols-rounded icon">add_box</span>
					<span>Load A New Sample</span>
				</div>

				<div class="data-section">
					<span class="section-title">Raspberry Pi Diagnostics</span>
					<div class="data-container">
						<div class="info-col">
							<div class="value-block">
								<span id="temp" onclick="copyToClip(this)"
									>33.0°</span
								>
							</div>
							<div class="value-block">
								<span id="network" onclick="copyToClip(this)"
									>Test Network</span
								>
							</div>
							<div class="value-block">
								<span id="uptime" onclick="copyToClip(this)"
									>1d 3h 4m</span
								>
							</div>
						</div>
						<div class="info-col">
							<div class="key-block">
								<span>Temperature</span>
							</div>
							<div class="key-block">
								<span>Network SSID/Interface</span>
							</div>
							<div class="key-block">
								<span>Uptime</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script>
		var oldContent = "";

		function copyToClip(span) {
			if (oldContent == "") {
				navigator.clipboard.writeText(span.textContent);
				oldContent = span.textContent;
				var setSpan = document.getElementById(span.id);
				setSpan.textContent = "Copied!";
				setTimeout(() => {
					setSpan.textContent = oldContent;
					oldContent = "";
				}, 2000);
			}
		}

		function menuOpen() {
			document.body.style.setProperty("overflow", "hidden");
			document
				.getElementById("mobile-nav")
				.style.setProperty("display", "flex");
		}

		function menuClose() {
			document.body.style.removeProperty("overflow");
			document
				.getElementById("mobile-nav")
				.style.setProperty("display", "none");
		}
	</script>
</html>
