<div id="mobile-nav">
	<a href="{{ url_for('historical_images') }}"
		><div class="navbutton">
			<span class="material-symbols-rounded icon">image_search</span>
			<span>Browse Historical Images</span>
		</div></a
	>

	<a href="{{ url_for('image_capture') }}">
		<div class="navbutton">
			<span class="material-symbols-rounded icon">photo_camera</span>
			<span>Capture An Image</span>
		</div></a
	>

	<a href="{{ url_for('index') }}">
		<div class="navbutton">
			<span class="material-symbols-rounded icon">ondemand_video</span>
			<span>View Live Video</span>
		</div></a
	>
</div>

<div id="navbar">
	<a href="/">
		<div id="title">
			<span class="smalltext">Raspberry Pi</span>
			<br />
			<span class="bigtext">Microscope</span>
		</div>
	</a>

	<div id="navlist">
		<a href="{{ url_for('historical_images') }}"
			><div class="navbutton">
				<span class="material-symbols-rounded icon">image_search</span>
				<span>Browse Historical Images</span>
			</div></a
		>

		<a href="{{ url_for('image_capture') }}">
			<div class="navbutton">
				<span class="material-symbols-rounded icon">photo_camera</span>
				<span>Capture An Image</span>
			</div></a
		>

		<a href="{{ url_for('index') }}">
			<div class="navbutton">
				<span class="material-symbols-rounded icon"
					>ondemand_video</span
				>
				<span>View Live Video</span>
			</div></a
		>
	</div>

	<div id="mobile-menu-btn" onClick="menuOpen()">
		<span class="material-symbols-rounded">menu</span>
	</div>
</div>
